---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-text">
    {{ content }}
  </div>
  
  {%- if site.posts.size > 0 -%}
  <p>&nbsp;</p>
  <div><h2>Writings</h2>
  <div class="posts">
    <ul>
      {% for category in site.categories %}
        {% unless category contains 'GoodReads' %}
          <h3>{{ category | first }}</h3>
          {% for post in category.last %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
          {% endfor %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {%- endif -%}

  <div><h2>What I have been reading</h2></div>
  {%- if site.categories.GoodReads.size > 0 -%}
    <div class="posts">
      <ul>
        {% for post in site.categories.GoodReads %}
          <li><a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>I am working on sharing some great reads. Check back later!</p>
  {% endif %}

</div>
